.list {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  margin-top: 35px;
}

.listItem {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 25px;
  padding: 15px;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;
  border-radius: 5%;
}

.listItem h3 {
  margin: 0;
}


.content {
  max-height: 0px;
  opacity: 0;
  transition: all 0.5s ease;
  position: relative;
}

.expanded .content {
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
  margin-top: 15px;
  height: 150px;
}

.button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10%;
}

.button:hover {
  background-color: #0056b3;
}