@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*abuot page*/
.headerr{
  box-shadow: inset 0 -1px 0 0 var(--accents-2);
    transform: translateZ(0);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background: hsla(0, 0%, 100%, .8);
}
.relative:focus-within .absolute {
  opacity: 1;
  visibility: visible;
  transform: scale(100%);
}